name: Build, Sign, Push Artifacts
on:
  push:
    branches:
      - master

jobs:
  macosx_arm64:
    name: Build, Sign, Push Artifacts  (macosx_arm64)
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Up Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Yarn Install
        run: yarn
      - name: Import Keychain Certs
        uses: apple-actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.CERTIFICATES_P12 }}
          p12-password: ${{ secrets.CERTIFICATES_P12_PASSWORD }}
      - name: Get Daemon
        run: wget -O ./src/extraResources/daemon/impervious.zip https://github.com/imperviousai/imp-daemon/releases/download/v1.1.1/impervious_1.1.1_darwin_arm64.zip
      - name: Get Browser
        run: wget -O ./src/extraResources/browser/Impervious.zip https://github.com/imperviousai/imp-browser/releases/download/0.1.2-alpha/Impervious-macosx_arm64.zip
      - name: Build and Sign
        run: yarn make:mac --arch=arm64
        env:
          AC_PASSWORD: ${{ secrets.AC_PASSWORD }}
      - name: "Upload zip to Job"
        uses: actions/upload-artifact@v3
        with:
          name: Impervious-macosx_arm64_zip
          path: out/make/zip/darwin/arm64/*.zip
      - name: "Upload dmg to Job"
        uses: actions/upload-artifact@v3
        with:
          name: Impervious-macosx_arm64_dmg
          path: out/make/*.dmg


  macosx_amd64:
    name: Build, Sign, Push Artifacts (macosx_amd64)
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Up Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Yarn Install
        run: yarn
      - name: Import Keychain Certs
        uses: apple-actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.CERTIFICATES_P12 }}
          p12-password: ${{ secrets.CERTIFICATES_P12_PASSWORD }}
      - name: Get Daemon
        run: wget -O ./src/extraResources/daemon/impervious.zip https://github.com/imperviousai/imp-daemon/releases/download/v1.1.1/impervious_1.1.1_darwin_amd64.zip
      - name: Get Browser
        run: wget -O ./src/extraResources/browser/Impervious.zip https://github.com/imperviousai/imp-browser/releases/download/0.1.2-alpha/Impervious-macosx_amd64.zip
      - name: Build and Sign
        run: yarn make:mac --arch=x64
        env:
          AC_PASSWORD: ${{ secrets.AC_PASSWORD }}
      - name: "Upload zip to Job"
        uses: actions/upload-artifact@v3
        with:
          name: Impervious-macosx_amd64_zip
          path: out/make/zip/darwin/x64/*.zip
      - name: "Upload dmg to Job"
        uses: actions/upload-artifact@v3
        with:
          name: Impervious-macosx_amd64_dmg
          path: out/make/*.dmg


  linux_amd64:
    name: Build, Sign, Push Artifacts (linux_amd64)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Up Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Yarn Install
        run: yarn
      - name: Get Daemon
        run: wget -O ./src/extraResources/daemon/impervious.zip https://github.com/imperviousai/imp-daemon/releases/download/v1.1.1/impervious_1.1.1_linux_amd64.zip
      - name: Get Browser
        run: wget -O ./src/extraResources/browser/Impervious.zip https://github.com/imperviousai/imp-browser/releases/download/0.1.2-alpha/Impervious-linux_amd64.zip
      - name: Build
        run: yarn make:linux --arch=x64
      - name: "Upload artifacts to Job"
        uses: actions/upload-artifact@v3
        with:
          name: Impervious-linux_amd64_zip
          path: out/make/zip/linux/x64/*.zip
