name: Build-Sign-Release
on:
  push:
    branches:
      - "master"

jobs:
  macosx:
    name: Build, Sign, Release (macosx_arm64, macosx_amd64)
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Up Node
        uses: actions/setup-node@v3
        with:
          node-version: 14
      - name: Yarn Install
        run: yarn
      - name: Import Keychain Certs
        uses: apple-actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.CERTIFICATES_P12 }}
          p12-password: ${{ secrets.CERTIFICATES_P12_PASSWORD }}
      - name: Build and Sign (macosx-arm64)
        run: yarn make:mac --arch=arm64
        env:
          AC_PASSWORD: ${{ secrets.AC_PASSWORD }}
      - name: Build and Sign (macosx-amd64)
        run: yarn make:mac
        env:
          AC_PASSWORD: ${{ secrets.AC_PASSWORD }}
      - name: Build (linux-x64)
        run: yarn make:linux --arch=x64
      - name: "Release artifacts"
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "v0.3.1"
          title: "v0.3.1"
          files: |
            out/make/zip/darwin/arm64/*.zip
            out/make/zip/darwin/x64/*.zip
            out/make/zip/linux/x64/*.zip
