name: Build-Sign-Release
on:
  push:
    branches:
      - "master"

permissions:
  contents: write

jobs:
  releaser:
    name: Build, Sign, Release (macosx_arm64, macosx_amd64, linux_amd64)
    runs-on: macos-latest
    environment: production
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Up Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Yarn Install
        run: yarn
      - name: Import Keychain Certs
        uses: apple-actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.CERTIFICATES_P12 }}
          p12-password: ${{ secrets.CERTIFICATES_P12_PASSWORD }}
      - name: Download Daemon Assets
        uses: robinraju/release-downloader@v1.6
        with:
          repository: "imperviousai/imp-daemon-staging"
          latest: true
          fileName: '*.zip'
          out-file-path:  "daemonDownloads"
          token:  ${{ secrets.DOWNLOADPAT }}
      - name: Download Browser Assets
        uses: robinraju/release-downloader@v1.6
        with:
          repository: "imperviousai/imp-browser-staging"
          latest: true
          fileName: '*.zip'
          out-file-path:  "browserDownloads"
          token:  ${{ secrets.DOWNLOADPAT }}

      - name: Get macosx arm64 Daemon
        # run: wget -O ./src/extraResources/daemon/impervious.zip https://github.com/imperviousai/imp-daemon-staging/releases/download/v1.1.4/impervious_1.1.4_darwin_arm64.zip
        run: cp ./daemonDownloads/impervious*_darwin_arm64.zip ./src/extraResources/daemon/impervious.zip
      - name: Get macosx arm64 Browser
        # run: wget -O ./src/extraResources/browser/Impervious.zip https://github.com/imperviousai/imp-browser-staging/releases/download/0.1.3-alpha/Impervious-macosx_arm64.zip
        run: cp ./browserDownloads/Impervious-macosx_arm64.zip ./src/extraResources/browser/Impervious.zip
      - name: Build and Sign (macosx-arm64)
        run: yarn make:mac --arch=arm64
        env:
          AC_PASSWORD: ${{ secrets.AC_PASSWORD }}

      - name: Get macosx x64 Daemon
        run: cp ./daemonDownloads/impervious*_darwin_amd64.zip ./src/extraResources/daemon/impervious.zip
      - name: Get macosx x64 Browser
        run: cp ./browserDownloads/Impervious-macosx_amd64.zip ./src/extraResources/browser/Impervious.zip
      - name: Build and Sign (macosx-amd64)
        run: yarn make:mac
        env:
          AC_PASSWORD: ${{ secrets.AC_PASSWORD }}

      - name: Get linux x64 Daemon
        run: cp ./daemonDownloads/impervious*_linux_amd64.zip ./src/extraResources/daemon/impervious.zip
      - name: Get linux x64 Browser
        run: cp ./browserDownloads/Impervious-linux_amd64.zip ./src/extraResources/browser/Impervious.zip
      - name: Build (linux-x64)
        run: yarn make:linux --arch=x64

      - name: "Release artifacts"
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "v0.4.4"
          title: "v0.4.4"
          prerelease: true
          files: |
            out/make/zip/darwin/arm64/*.zip
            out/make/*arm64.dmg
            out/make/zip/darwin/x64/*.zip
            out/make/*x64.dmg
            out/make/zip/linux/x64/*.zip
